body {
    background-color:black;
    font-family:arial;
    color:white;
}
h1{
    color:grey;
    font-family:verdana;
}
.childdiv{
    margin-left: 80px;

}
#rate{
    margin-left: 85px;
}
#principal{
    margin-left: 60px;
}
#years{
    margin-left: 30px;
}
.maindiv{
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
}

